.banner{
    background: var(--azul-gradiente);
    text-align: center;
    padding: 2.5em 2em;

}

.banner__titulo{
    font-size: 1.12rem;
    font-weight: 700;
    color: var(--branco);
}

.banner__text{
    font-weight: 500;
    margin: 1em 0;
    color: var(--branco);
}

.banner__pesquisa{
    width: 90%;
    border: 1px solid var(--branco);
    border-radius: 2em;
    background: transparent;
    color: var(--branco);
    padding: 1em;
    margin: 1em 0;
}

.banner__pesquisa::placeholder{
    font-family: var(--poppins);
    font-weight: 400;
    color: var(--branco);
    font-size: 0.87em;
    text-align: center;
    background: url("../assets/Pesquisa.svg") no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px){
    .banner__titulo{
        font-size: 2.25rem;
    }

    .banner__pesquisa{
        width: 40%;
    }

    .banner__text{
        margin: 0.5em 0 1em 0;
    }

    .banner__pesquisa::placeholder{
        background-position: 5em;
    }
}
