.banner{
    background: var(--azul-gradiente);
    text-align: center;
    padding: 1em 2em;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.banner__titulo{
    font-size: 1.12rem;
    font-weight: 700;
    margin-top: 1em;
}

.banner__text{
    font-size: 1rem;
    font-weight: 400;

}

.banner__pesquisa{
    width: 90vw;
    border: 1px solid var(--branco);
    border-radius: 25px;
    background: transparent;
    text-align: center;
    padding: 1em;
    margin: 1em 0;
}

.banner__pesquisa::-webkit-input-placeholder{
    color: var(--branco);
}