.carrosel__titulo{
    color: var(--laranja);
    text-transform: uppercase;
    font-size: 1.12em;
    font-weight: 700;
    background: var(--branco);  
    padding: 1em 0 0.5em 0;
    text-align: center;
}


.swiper-slide img{
    width: 100%;
}

.swiper-pagination{
    position: static;
}