/*cabecalho*/
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.cabecalho__menu-hamburger{
    width: 40px;
    height: 40px;
    background: url("../assets/Menu.svg") no-repeat center;
    background-size: contain;
    display: inline-block;
    
}

.opcoes{
    list-style-type: none;
    display: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.container__titulo{
    display:none;
}

.container__imagem{
    padding: 1em;}

/*Input*/
.container__botao{
    display:none;
}

/*Menu*/
.lista-menu{
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 2;
}

.container__botao:checked ~ .lista-menu{
    display:block
}

.lista-menu > li{
    background-color: var(--branco);
    text-decoration: none;
    padding: 1.5em;
    font-size: 1rem;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;

}

.lista-menu__link{
    background: var(--azul-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    text-transform: uppercase;
}

.container__imagem__description{
    display: none;
}
/*Tablet*/
@media screen and (min-width: 1024px){

    /*Logo ajuste*/
    .logo{
        position: relative;
        top: -5px;
        left: 20px;
    }
    .container {
        gap: 1em;
    }
    .container__titulo{
        display: inline-block;
        font-family: var(--josefin);
        font-size: 1.87rem;
        font-weight: 400;
    }

    .cabecalho__menu-hamburger{
        display:none;
    }
    /*Menu central*/
    .opcoes{
        display:flex;
        text-transform: uppercase;
        justify-content: space-between;
        gap: 10px;
        position: relative;

    }

    .opcoes__item{
        padding: 0.62em;
    }

    .opcoes__item__link{
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao{
        display: none;
    }


    .opcoes__botao:checked ~ .lista-menu{
        display:block;
        width: 50%;
    }

    /*Icones*/
    .wishlist{
        display: none;
    }



}

/*Desktop*/
@media screen and (min-width: 1728px){
    .opcoes{    
        left: -70%;
    }
    .container__imagem__descricao{
        display: inline;
        color: var(--preto);
        font-size: 1.25rem;


    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .desktop__image{
        padding: 0.5em;
    }
}
